*{
    margin: 0px;
    padding: 0px;
}

/* header section */
.header-container{
    width: 100%;
    height: 350px;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
}

/* text section  */
.header-title{
    color: rgba(0, 0, 0, 0.833);
    font-size: 40px;
    font-weight: 800;
    font-family: Lato;
}
.header-info{
    font-size: 16px;
    font-family: Oswald;
    font-weight: 400;
    margin: 15px 0px;
    color: rgba(0, 0, 0, 0.53);

}
.color-text{
    color: #f5476c;
}

.btn-primary{
background: #f5476c;
border-radius: 8px;
color: rgb(255, 255, 255);
padding: 15px 20px;
border: none;
cursor: pointer;
}
/* header image  */
.head-image{
    width: 280px;

}

/* feature section  */

/* information  */
.feature-information{
    text-align: center;
    margin-top: 80px;
}
.feature-title{
    font-size: 30px;
    font-weight: 700;
    color: black;
    font-family: Lato;
    margin-bottom: 0px;
}
.feature-info{
    font-size: 15px;
    font-weight: 400;
    font-family: Lato;
    color: rgba(0, 0, 0, 0.584);
    margin-top: 10px;
}
 /* feature image section  */
 .feature-image-container{
    width: 90%;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 15px;

 }
 .image-part{
    width: 280px;
    height: 350px;
    background-color: rgba(167, 33, 98, 0.15);
    display: flex;
    justify-content: center;
    border-radius: 220px 220px 0px 0px;
 }
.image-part2{
        width: 280px;
        height: 350px;
        background-color: rgba(5, 151, 160, 0.15);
        display: flex;
        justify-content: center;
        border-radius: 220px 220px 0px 0px;
 }
 .image-part3{
    width: 280px;
    height: 350px;
    background-color:  rgba(71, 125, 17, 0.15);
    display: flex;
    justify-content: center;
    border-radius: 220px 220px 0px 0px;
 }
 .featureimg{
    width: 200px;
    height: 280px;
    padding-top: 70px;
 }
 .image-inf0-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .under-line-text{
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
    font-family: Lato;
    margin-top: 20px;
 }

 /* services section  */
 .service-container{
    width: 70%;
    height: 200px;
    background-color: rgba(233, 225, 225, 0.737);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    border-radius: 10px;
 }
 .service-info{
   font-size: 15px;
   font-family: Lato;
   font-weight: 600;
 }
 .serviceinformation{
  margin-top: 15px;
 }
 .serve{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .service-img{
    width: 60px;
 }

 /* deals section  */
 .deal-container{
    width: 100%;
    height: 400px;
    background-color: rgba(229, 84, 115, 0.05);
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
 }
 .deal-img{
    width: 220px;
    margin-right: 47px;
 }
 .deal-text-part{
    text-align: center;
 }
 .deal-title{
    font-size: 28px;
    font-family: Lato;
    font-weight: 800;
    color: black;
 }
 .deal-info{
    font-size: 13px;
    font-weight: 400;
    font-family: Lato;
    color: rgba(0, 0, 0, 0.582);
    margin: 15px 0px;
 }
 .deal-title-part{
    color: #E55473;
 }
 /* extra section  */
 /* favourite deals  */
 .favourite-heading{
   text-align: center;
   margin-top: 80px;
 }
 .favourite-title{
   font-size: 30px;
   font-weight: 700;
   color: black;
   font-family: Lato;
   margin-bottom: 0px;
 }
 .favourite-info{
   font-size: 15px;
   font-weight: 400;
   font-family: Lato;
   color: rgba(0, 0, 0, 0.584);
   margin-top: 10px;
 }
 .title-part{
   color: #e77991e3;
 }
 .favourite-img-info-container{
   width: 90%;
   height: 380px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   gap: 15px;
   margin-top: 20px;
 }
 .favourite-img{
   width: 280px;
   height: 300px;
   background-color:rgba(69, 8, 8, 0.717);
   display: flex;
   justify-content: center;
   border-radius: 5px;
   margin-top: 25px;
   align-items: center;
   box-shadow: 10px 10px 15px black;
 }
 .favourite-img2{
   width: 280px;
   height: 300px;
   background-color: rgba(69, 29, 231, 0.15);
   display: flex;
   justify-content: center;
   border-radius: 5px;
   margin-top: 25px;
   align-items: center;
   box-shadow: 10px 10px 15px black;
 }
 .favourite-img3{
   width: 280px;
   height: 300px;
   background-color: rgba(214, 13, 154, 0.411);
   display: flex;
   justify-content: center;
   border-radius: 5px;
   margin-top: 25px;
   align-items: center;
   box-shadow: 10px 10px 15px black;
 }
 .fav-image{
   width: 220px;
   height: 180;
   padding-top: 20px;
  
 }
 .fav-image2{
   width: 220px;
   height: 180;
   padding-top: 20px;
 }
 .fav-image3{
   width: 220px;
   height: 180;
   padding-top: 20px;
   
 }
 .favourite-info{
   text-align: center;
   margin-top: 25px;
 }
 .flower-title{
   font-size: 28px;
   font-weight: 800;
   font-family: Lato;
   margin-bottom: 10px;
 }

